<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>avatar</key>
		<string></string> 
		<key></key>
		<string>https://vt.tiktok.com/ZSRyDsF8W/</string>
		<key>desc</key>
		<string>如何抓取反彈機會？</string>
		<key>title</key>
		<string>國安基金進場護盤，賺錢效益來臨！</string>
 	<key>text</key>
		<string>帶你踏入複利人生，專業資產管理團隊，為你提供最完善的投資方向.即將進行低風險標的明牌佈局、預計此次佈局報酬率高達60％，省去每天看盤的焦慮！！！點擊連結添加獲取免費飆股，進入社團實時解析，不要錯過資產翻倍機會</string>
	</dict>
</array>
</plist>
